/*@font-face {
    font-family: RobotoSlab-Regular;
    src: url("assets/fonts/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: RobotoSlab-Light;
    src: url("assets/fonts/RobotoSlab-Light.ttf");
}*/
@font-face {
    font-family: CrimsonText-Regular;
    src: url("assets/fonts/CrimsonText-Regular.ttf");
}
@font-face {
    font-family: CrimsonText-SemiBoldItalic;
    src: url("assets/fonts/CrimsonText-SemiBoldItalic.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.Crimson-Regular {
    font-family: CrimsonText-Regular;
}
.Crimson-SemiBoldItalic {
    font-family: CrimsonText-SemiBoldItalic;
}

.fs25 {
    font-size: 25px;
}
.fs20 {
    font-size: 20px;
}
.fs18 {
    font-size: 16px;
}
.fs12{
    font-size: 14px;
}

.green33 {
    color: #017533;
}
.white {
    color: #fff;
}
.black{
    color: #000000;
}
.ls2 {
    letter-spacing: 2px;
}
.ls1 {
    letter-spacing: 1px;
}
nav {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
}
#main-section {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0px auto;
    position: relative;
    display: flex;
    padding-top: 50px;

}
.c-formulario {
    margin: 0 auto;
}
.form-option {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.main-form {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 15px 10px  #5F9EA0;
    background-color: rgba(0, 0, 0, 0.5);
}
.c-login-title {
    margin: 10px 0px;
}
.c-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-option input[type="radio"]{
    display: none;
}
.form-option label{
    font-size: 20px;
    color: #fff;
    border: solid 2px #75a3a3;
    width: 40%;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
}
.form-option input[type="radio"]:checked + label{
    background: #fff;
    color: #75a3a3;
    border: 0px;
    transition: all 500ms ease;
}



/* FOOTER SECCTION */
footer {
    width: 100%;
    bottom: 0;
    /*padding: 10px;*/
    /*background: rgba(111, 112, 111, 1);*/
    background:#242121;
    position: absolute;
}
.c-logos {
    width: 60%;
    /*background-color:#F0FFF0;*/
    padding: 3px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.c-logos img {
    width: 120px;
    height: 40px;
}
.info-right{
    display: flex;
    width: 100%;
   /* background-color: #F9AFB9;*/
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
}
.c-correo {
     width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 2px 0;
}
.c-direccion{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 2px 0;
   /* background-color:#F9AFF0;*/
}
.c-copyright{
      width: 100%;
    text-align: center;
    background-color: 	#696969;
    padding: 5px;
}

.mdl-textfield{
    width: 45%!important;
}
.mdl-textfield__input {
    border-bottom: 2px solid #fff!important;
    color: #fff!important;
    border-radius: 2px;
    min-width: 50%!important;
}
.mdl-textfield__label {
    color: #75a3a3!important;
    font-size: 20px!important;
}
.mdl-textfield__label::after {
    background-color: #75a3a3!important;
}
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    top: 0px!important;
    color: #fff!important;
}
.mdl-button--raised{
    background-color: #75a3a3!important;
    color: #fff!important;
    width: 100%!important;
}
.mdl-button:hover{
    background-color: #fff!important;
    color: #75a3a3!important;
}

.c-inputs div:nth-child(3n) {

    width: 95% !important;
}