@font-face {
    font-family: Tajawal-Regular;
    src: url("assets/fonts/Tajawal-Regular.ttf");
}
@font-face {
    font-family: Tajawal-Light;
    src: url("assets/fonts/Tajawal-Light.ttf");
}
@font-face {
    font-family: Tajawal-Bold;
    src: url("assets/fonts/Tajawal-Bold.ttf");
}
@font-face {
    font-family: Tajawal-Medium;
    src: url("assets/fonts/Tajawal-Medium.ttf");
}
.Tajawal-Regular {
    font-family: Tajawal-Regular;
}
.Tajawal-Light{
    font-family:Tajawal-Light;
}
.Tajawal-Bold{
    font-family:Tajawal-Bold;
}
.Tajawal-Medium{
    font-family:Tajawal-Medium;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.fs25 {
    font-size: 25px;
}
.fs15 {
    font-size: 15px;
}
.fs14{
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs12{
    font-size: 12px;
}
.green33 {
    color: #017533;
}
.grey {
    color: #CFD8DC;
}
.white{
    color: #fff;
}
.ls2 {
    letter-spacing: 2px;
}
.ls1 {
    letter-spacing: 1px;
}
#main-section {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0px auto;
    position: relative;
    display: flex;
    padding-top: 150px;
}
.c-formulario {
    margin: 0 auto;
}
.form-option {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.main-form {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 0px 5px #B0BEC5;
    background-color: rgba(0, 0, 0, 0.5);
}
.c-login-title span{
    color: #fff;
    font-size: 100px;
}
.c-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-option label{
    font-size: 20px;
    color: #fff;
    border: solid 2px #75a3a3;
    width: 40%;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
}

/*--------------------------- FOOTER SECTION -------------------------*/
footer {
    width: 100%;
    bottom: 0;
    background: #1b2631;
    position: absolute;
}
.c-logos {
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.c-correo,
.c-direccion{
    width: 20%;
}
.c-logos img {
    width: 120px;
    height: 40px;
}
.info-right{
    display: flex;
    padding: 10px 0px;
}
.c-correo {     
    margin: 0 auto;   
}
.c-correo a{
    color: #fff;
}
.c-direccion{
    margin: 0 auto;
    text-align: right;
}
.c-copyright{
    width: 100%;
    text-align: center;
    background-color: #a6acaf ;  
    padding: 5px 0px; 
}



.mdl-textfield{
    width: 45%!important;
}
.mdl-textfield__input {
    border-bottom: 2px solid #fff!important;
    color: #fff!important;
    border-radius: 2px;
    min-width: 50%!important;
}
.mdl-textfield__label {
    color: #75a3a3!important;
    font-size: 20px!important;
}
.mdl-textfield__label::after {
    background-color: #75a3a3!important;
}
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    top: 0px!important;
    color: #fff!important;
}
.mdl-button--raised{
    background-color: #75a3a3!important;
    color: #fff!important;
    width: 100%!important;
    margin-top: 20px!important;
}
.mdl-button:hover{
    background-color: #fff!important;
    color: #75a3a3!important;
}

.c-inputs div:nth-child(3n) {

    width: 95% !important;
}