body{
	background: #F5F5F5;
}
nav{
   background: #24292e
}
.home{
    align-items:center;
    display: flex;
}
.menu-right{
    display: flex;
    justify-content: end;
    padding: 7px;
}
.menu-right a{
    color: rgb(0,105,92);
}

/*---------ICONS-------------*/
.fa-bars,
.fa-home,{
    margin-left: 5px;
}
.fa-quote-left,
.fa-quote-right{
    font-size: 10px;
    color: #37474F;
}
.fa-key,
.fa-edit,
.fa-user-plus,
.fa-eye,
.fa-sign-out-alt,
.fa-file-alt,
.fa-user,
.fa-check,
.fa-times{
    margin-right: 5px;
}
/*-----------MAIN-----------*/
.informacion{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #E0E0E0;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion2{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #B2DFDB;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion2_2{
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #B2DFDB;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion3{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #C5CAE9;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion3_2{
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #C5CAE9;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion4{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #ffcdd2;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion5{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #BBDEFB;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
/*-------ICONOS DE LOS USUARIOS-------*/
.user-circle,
.user-circle-admin,
.user-circle-tutor,
.user-circle-pass,
.user-circle-institucional,
.user-circle-academico{
    text-align: center;
    margin: 0 auto;    
}
.user-circle i{
    font-size: 130px;
    color: #607D8B;
    background: #F5F5F5;
    padding: 40px 130px;    
    margin-top: -180px;
}
.user-circle-admin i{
    font-size: 130px;
    color: #26A69A;
    padding: 40px 130px;    
    margin-top: -180px;
    background: #F5F5F5;
}
.user-circle-tutor i{
    font-size: 130px;
    color: #3949AB;
    padding: 40px 130px;    
    margin-top: -180px;
    background: #F5F5F5;
}
.user-circle-pass i{
    font-size: 70px;
    color: #455A64;    
    margin-top: 30px;
}
.user-circle-institucional i{
    font-size: 130px;
    color: #d32f2f;
    padding: 40px 130px;    
    margin-top: -180px;
    background: #F5F5F5;
}
.user-circle-academico i{
    font-size: 130px;
    color: #1976D2;
    padding: 40px 130px;    
    margin-top: -180px;
    background: #F5F5F5;
}
/*------------------------------------*/
hr{
    width:500px;
    height: 2px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,24),rgba(0,0,0,0));
    margin: auto;
    margin-top:30px;
}
hr.line2{
     border: 0; 
     height: 0; 
     border-top: 1px solid rgba(0, 0, 0, 0.3); 
     width:900px;
}
.usuario{
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.grupo{
    display:flex; 
    justify-content: space-between;
    margin-top:40px;
    margin-top: 0 auto;
}
.grupo-2{
    display:flex; 
    justify-content: space-evenly;
    margin-top:40px;
    margin-top: 0 auto;
}
.grupo i{
    font-size: 50px;
    color: #546E7A;
}
.info-1{
    width:25%;       
}
.info-1_1 i{
    width:25%; 
    font-size: 50px;
    color: #5C6BC0;
}
.info-1_2 i{
    width:25%; 
    font-size: 50px;
    color: #d32f2f;
}
.info-1_3 i{
    width:25%; 
    font-size: 50px;
    color: #1976D2;
}
.c-inputs-2{
    display: flex;
    justify-content: space-between;
}
.c-inputs-3{
    display: flex;
    justify-content: space-evenly;
}
.c-inputs-2 .mdl-textfield__input {
    border-bottom: 2px solid #B0BEC5 !important;
    border-radius: 2px;
    color: #B0BEC5 !important;
    min-width: 20%!important;
}
.c-inputs-2 .mdl-textfield__label{
    min-width: 20%!important;
    color: #B0BEC5!important;
}
.c-inputs-2 .mdl-textfield {
    width: 25%!important;
}
.c-inputs-3 .mdl-textfield__input {
    border-bottom: 2px solid #B0BEC5 !important;
    border-radius: 2px;
    color: #B0BEC5 !important;
    min-width: 20%!important;
}
.c-inputs-3 .mdl-textfield__label{
    min-width: 20%!important;
    color: #B0BEC5!important;
}
.c-inputs-3 .mdl-textfield {
    width: 25%!important;
}
.mdl-button:hover {
    background-color: #546E7A !important;
    color: #E0E0E0!important;
}
.modals{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
}
.modals .mdl-textfield{
    width: 100%!important;
}
.modales{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
}
.modales .mdl-textfield{
    width: 100%!important;
}
.table{
    display: flex;
    justify-content:center;
    margin-top: 40px;
}
/*---------MODALES----------*/
.pass-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}
.fancy {
    opacity: 1;
    pointer-events: none;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.visible {
    opacity: 1!important;
    pointer-events: all!important;
}
.close-fancy {
    background: #2DCCD3;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    left: 88%;
    top: -10px;
    z-index: 100;
}
.close-fancy img {
    width: 20px;
}      
/*---------FOOTER-----------*/
.info-right { 
    background-color: #24292e;
}
/*otros*/
.mdl-dialog__title{
    display: flex;
    justify-content: center;
    padding: 24px; 
}
.mdl-dialog__actions{
    display: flex;
    justify-content: space-between;
    padding: 24px 24px;
    
}