body{
	background: #F5F5F5;
}
nav{
   background: #24292e
}
.home{
    align-items:center;
    display: flex;
}
.menu-right{
    display: flex;
    justify-content: end;
    padding: 7px;
}
.menu-right a{
    color: rgb(0,105,92);
}

/*---------ICONS-------------*/
.fa-bars,
.fa-home{
    margin-left: 5px;
}
.fa-quote-left,
.fa-quote-right{
    font-size: 10px;
    color: #37474F;
}
.fa-key,
.fa-edit,
.fa-user-plus,
.fa-eye,
.fa-sign-out-alt,
.fa-file-alt,
.fa-user{
    margin-right: 5px;
}
/*-----------MAIN-----------*/
.informacion{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #E0E0E0;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion2{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #B2DFDB;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion2_2{
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #B2DFDB;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion3{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #C5CAE9;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
.informacion3_2{
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 0 12px 7px #C5CAE9;
    margin-top:120px;
    margin-bottom:100px;
    padding: 50px;
}
/*-------ICONOS DE LOS USUARIOS-------*/
.user-circle,
.user-circle-admin,
.user-circle-tutor{
    text-align: center;
    margin: 0 auto;    
}
.user-circle i{
    font-size: 130px;
    color: #607D8B;
    background: #F5F5F5;
    padding: 40px 130px;    
    margin-top: -180px;
}
.user-circle-admin i{
    font-size: 130px;
    color: #26A69A;
    padding: 40px 130px;    
    margin-top: -180px;
    background: #F5F5F5;
}
.user-circle-tutor i{
    font-size: 130px;
    color: #3949AB;
    padding: 40px 130px;    
    margin-top: -180px;
    background: #F5F5F5;
}
/*------------------------------------*/
hr{
    width:500px;
    height: 2px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,24),rgba(0,0,0,0));
    margin: auto;
    margin-top:30px;
}
hr.line2{
     border: 0; 
     height: 0; 
     border-top: 1px solid rgba(0, 0, 0, 0.3); 
     width:900px;
}
.usuario{
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.grupo{
    display:flex; 
    justify-content: space-between;
    margin-top:40px;
    margin-top: 0 auto;
}
.grupo-2{
    display:flex; 
    justify-content: space-evenly;
    margin-top:40px;
    margin-top: 0 auto;
}
.grupo i{
    font-size: 50px;
    color: #546E7A;
}
.info-1{
    width:25%;       
}
.info-1_1 i{
    width:25%; 
    font-size: 50px;
    color: #5C6BC0;
}
.c-inputs-2{
    display: flex;
    justify-content: space-between;
}
.c-inputs-3{
    display: flex;
    justify-content: space-evenly;
}
.mdl-textfield__input {
    border-bottom: 2px solid #37474F !important;
    border-radius: 2px;
    color: #006064!important;
    min-width: 20%!important;
}
.mdl-textfield {
    width: 25%!important;
}
.mdl-button:hover {
    background-color: #546E7A !important;
    color: #E0E0E0!important;
}
.modals{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
}
.table{
    display: flex;
    justify-content:center;
    margin-top: 40px;
}
/*---------FOOTER-----------*/
.info-right { 
    background-color: #24292e;
}